    {% if page.require contains 'menu' %}
    <script src="{{ site.baseurl }}/assets/js/menu-min.js"></script>
    {% endif %}
    {% if page.require contains 'modal' %}
    <script src="{{ site.baseurl }}/assets/js/modal-min.js"></script>
    {% endif %}
    {% if page.require contains 'nav-bar' %}
    <script src="{{ site.baseurl }}/assets/js/nav-bar-min.js"></script>
    {% endif %}
    <script src="{{ site.baseurl }}/assets/js/svg4everybody-min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/typed-min.js"></script>
