  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author.name }}">
    <title>{{ site.author.name }} - {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/img/code-icon.png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main-min.css">
    {% if page.require contains 'modal' %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/modal-min.css">
    {% endif %}
    {% if page.require contains 'contact' %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/contact-min.css">
    {% endif %}
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.4/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.4/svg4everybody.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/CDN/Universal_App_Assets/Google_Analytics.js"></script>
    {% if page.require contains 'emoji' %}
    <script src="{{ site.baseurl }}/assets/js/emojify.min.js"></script>
    {% endif %}
  </head>
