      <p class="main-menu">
        <a class="work" href="{{ site.baseurl }}/work"><span class="green">{</span><span class="blue">work</span><span class="green">}</span></a><span class="slash"> / </span><a class="tips" href="{{ site.baseurl }}/tips"><span class="green">$(</span><span class="orange">tips</span><span class="green">)</span></a><span class="slash"> / </span><a class="contact" href="{{ site.baseurl }}/contact"><span class="green">[</span><span class="purple">contact</span><span class="green">]</span></a>
      </p>
