      <p class="main-menu menu-page">
        <a class="home" href="{{ site.baseurl }}/"><span class="green">&lt;</span><span class="red">home</span><span class="green">&gt;</span></a><span class="slash">/</span><a class="work" href="{{ site.baseurl }}/work"><span class="green">{</span><span class="blue">work</span><span class="green">}</span></a><span class="slash">/</span><a class="tips" href="{{ site.baseurl }}/tips"><span class="green">$(</span><span class="orange">tips</span><span class="green">)</span>
        </a>
      </p>
