        {% if site.author.github %}
        <a class="social-icon github-icon" href="{{ site.author.github.url }}" target="_blank"><svg class="social-image" role="img"><use xlink:href="{{ site.baseurl }}/index.svg#github-svg"/></svg></a>
        {% endif %}
        {% if site.author.linkedin %}
        <a class="social-icon linkedin-icon" href="{{ site.author.linkedin.url }}" target="_blank"><svg class="social-image" role="img"><use xlink:href="{{ site.baseurl }}/index.svg#linkedin-svg"/></svg></a>
        {% endif %}
        {% if site.author.ruby-gems %}
        <a class="social-icon ruby-gems-icon" href="{{ site.author.ruby-gems.url }}" target="_blank"><svg class="social-image" role="img"><use xlink:href="{{ site.baseurl }}/index.svg#ruby-svg"/></svg></a>
        {% endif %}
        {% if site.author.ko-fi %}
        <a class="social-icon ko-fi-icon" href="{{ site.author.ko-fi.url }}" target="_blank"><svg class="social-image" role="img"><use xlink:href="{{ site.baseurl }}/index.svg#ko-fi-svg"/></svg></a>
        {% endif %}
