      <div class="screenshot-modal">
        <div class="modal-glass">
          <span class="modal-zoom">&#43;</span>
          <span class="modal-minus">&#45;</span>
        </div>
        <div class="modal-x">
          <span class="modal-close">&times;</span>
        </div>
        <div class="modal-img">
          <img class="modal-content" value="">
        </div>
        <div class="modal-controls">
          <span class="modal-arrow modal-prev">&laquo;</span>
          <span class="modal-arrow modal-next">&raquo;</span>
        </div>
      </div>
