       <ul class="work-list">
        {% for work in site.works %}
        <li class="work-list-item">
          <a class="work-tile" title="{{ work.title }}" href="{{ work.permalink }}">
            <img class="work-tile-logo" alt="{{ work.title }}" src="{{ site.baseurl }}/{{ work.cdn }}/img/logo-promotion.png">
            <span class="text-content text-content-{{ work.background }}">
              <span>
                {{ work.description }}
              </span>
            </span>
          </a>
        </li>
        {% endfor %}
      </ul>
