/*** Font ***/
$font-stack: 'Anonymous Pro', monospace;

/*** Color ***/
$algae: #03363d;
$black: #333333;
$blue: #6495ba;
$gray-dark: #808184;
$gray-light: #dddddd;
$gray-low: #bbbbbb;
$gray: #999999;
$green-lime: #06e908;
$green-zendesk: #78a300;
$green: #5aaba7;
$orange: #fca169;
$purple-light: #9572c8;
$purple: #9572af;
$red: #ed5f68;
$ruby: #d6422b;
$smoke: #f8f8f8;
$white: #ffffff;
