---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}
  <body>
    <div class="top-div green-div">
{% include top-div.html %}
    </div>
    <div class="left-div fixed-div green-div page-div">
      {% include h2-div.html %}
{% include svg-law-big.html %}
      {% include h1-div.html %}
    </div>
    <div>
{% include menu-license.html %}
    </div>
    <div class="right-div green">
{{ content }}
    </div>
{% if page.require contains 'arrow-up' %}
{% include svg-arrow-up.html %}
{% endif %}
{% include svg-home.html %}
{% include body-scripts.html %}
  </body>
</html>
