---
layout: work
permalink: /work/ccquest
title: CC Quest
description: Make CCs the Requesters of Zendesk tickets
published-url: https://www.zendesk.com/work/cc-quest/
cdn: CC_Quest
tags: ['app', 'zendesk']
require: ['emoji', 'language', 'modal', 'menu', 'nav-bar', 'arrow-up']
---

{% include work-head.html %}
      {% include work-about.html %}
      <ul class="ul-features">
        {% include work-type.html %}
        <li>Retrieves ticket information.</li>
        <li>Displays the current Ticket Requester.</li>
        <li>Creates an alphabetical list of all the CCs in the ticket.</li>
        <li>Let's you choose one CC to make the new Ticket Requester.</li>
        <li>Gives you the option of adding the old Ticket Requester to the list of CCs.</li>
        <li>Available in <lng>en</lng> and <lng>es</lng> (<lng-ntv>es</lng-ntv>).</li>
      </ul>
      {% include work-screencaps.html %}
      <p class="p-center p-screenshots">
        <img class="img-screenshot" src="{{ site.url }}/CDN/{{ page.cdn }}/img/screenshot-1.png"/>
        <img class="img-screenshot" src="{{ site.url }}/CDN/{{ page.cdn }}/img/screenshot-2.png"/>
        <img class="img-screenshot" src="{{ site.url }}/CDN/{{ page.cdn }}/img/screenshot-3.png"/>
        <img class="img-screenshot img-screenshot-gif" src="{{ site.url }}/CDN/{{ page.cdn }}/img/working.gif"/>
      </p>
{% include work-modal.html %}
      {% include work-version.html %}
      <h4>Version 1.1.1 - Published <a href="{{ page.published-url }}" target='_blank'>here</a>.</h4>
      <ul class="ul-features ul-version">
        <li>Translation for <lng>es</lng> (<lng-ntv>es</lng-ntv>).</li>
      </ul>
      <h4>Version 1.1</h4>
      <ul class="ul-features ul-version">
        <li>New user interface.</li>
      </ul>
      <h4>Version 1.0</h4>
      <ul class="ul-features ul-version">
        <li>Initial publication.</li>
      </ul>
      {% include work-bugs.html %}
      <ul class="ul-features">
        <li>No known issues at this time.</li>
        <li>Translation needed for: <lng>ru</lng> (<lng-ntv>ru</lng-ntv>), <lng>de</lng> (<lng-ntv>de</lng-ntv>), <lng>pt</lng> (<lng-ntv>pt</lng-ntv>), <lng>zh</lng> (<lng-ntv>zh</lng-ntv>), <lng>fi</lng> (<lng-ntv>fi</lng-ntv>), <lng>bg</lng> (<lng-ntv>bg</lng-ntv>), <lng>fr</lng> (<lng-ntv>fr</lng-ntv>), <lng>uk</lng> (<lng-ntv>uk</lng-ntv>), <lng>da</lng> (<lng-ntv>da</lng-ntv>), <lng>ja</lng> (<lng-ntv>ja</lng-ntv>), <lng>nb</lng> (<lng-ntv>nb</lng-ntv>), and <lng>nl</lng> (<lng-ntv>nl</lng-ntv>).</li>
      </ul>
{% include work-found-bug.html %}
{% include work-license.html %}
{% include work-more.html %}
      {% include copyright.html %}
